.a{
    margin-left: 30px;border: 40PX;padding: 10px;color: #2549db;
}
h2{
    color: #0f298b;font-size: 38px;
}
.nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    border-bottom: 2px solid greenyellow;
}
.navbar{
    display: flex;
    width: 80%;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}